.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
out/**
src/**
node_modules/**
.gitignore
.git/**
**/*.ts
**/*.map
**/tsconfig.json
**/eslint.config.mjs
esbuild.js
icons/build-icons.ps1
icons/logo.svg
icons/icon256.png
DEVELOPMENT.md
CLAUDE.md
backlog.md
